@import 'tweeter';

html {
        box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {
    margin: 0;
    color: $body-color;
    background-color: $body-background;
    font-family: $fonts;
    padding-top: 80px;
    @media only screen 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      padding-top: 250px;
    }

    main {
      margin: 0 auto;
      width: 450px;
      background: white;
      @media only screen 
      and (max-device-width: 568px)
      and (-webkit-min-device-pixel-ratio: 2) {
        width: 100%;
      }  
    }
  }
}
