@import 'tweeter'; 

#tweet-notification {
  text-align: center;
  vertical-align: middle;
  margin: 0 2em;
  height: 60px;
  line-height: 60px;
  opacity: 0;
}

.new-tweet {
  margin: 0 2em;
  border: 1px solid #888888;
  border-radius: 5px;

  h2 {
    border-bottom: 1px solid $tweet-border;
    margin: 10px;

    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      font-size: 50px;
    }
  }

  textarea {
    width: 364px;
    margin: 10px;
    padding: 2px;
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      border: white;
      width: 97.5%;
      height: 140px;
      font-size: 50px;
    }
  }

  .submit-new-tweet {
    margin: 0 10px 10px 10px;
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      display: block;
      width: 97.5%;
      height: 100px;
      font-size: 50px;
    }
  }

  .counter {
    float: right;
    margin: 5px 10px 10px 10px;
    @media only screen 
    and (min-device-width: 320px) 
    and (max-device-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2) {
      display: none;
    }
  }
}
