#nav-bar {
  position: fixed;
  height: 80px;
  width: 100%;
  top: 0;
  left: 0;
  background: #00a087;
  color: #e8fdff;
  padding: 0 2em;
}

#nav-bar .logo {
  float: left;
  width: 80px;
  height: 80px;
}

#nav-bar > .header {
  float: left;
  margin-left: 10px;
  font-size: 2em;
  line-height: 80px;
}
