section#tweets-container {
  margin: 2em 0; }
  section#tweets-container article {
    opacity: 0.5;
    margin: 1em 2em;
    border: 1px solid #888888;
    border-radius: 5px;
    overflow: auto; }
    section#tweets-container article:hover {
      opacity: 1; }
      section#tweets-container article:hover .tweet-icons {
        visibility: visible; }
    section#tweets-container article header {
      padding: 10px;
      background: #eee;
      height: 70px; }
      section#tweets-container article header .tweet-pic {
        float: left; }
      section#tweets-container article header .tweet-username {
        float: left;
        font-size: 1.7em;
        font-weight: 700;
        margin-left: 10px; }
      section#tweets-container article header .tweet-userhandle {
        float: right; }
    section#tweets-container article .tweet-body {
      padding: 20px; }
    section#tweets-container article footer {
      padding: 10px;
      border-top: 1px solid #eee;
      height: 55px;
      overflow: auto; }
      section#tweets-container article footer .tweet-date {
        float: left;
        margin: 5px; }
      section#tweets-container article footer .tweet-icons {
        float: right;
        color: #888888;
        margin: 5px;
        visibility: hidden; }
        section#tweets-container article footer .tweet-icons > * {
          margin-right: 6px; }
          section#tweets-container article footer .tweet-icons > *:hover {
            font-size: 20px; }
          section#tweets-container article footer .tweet-icons > *:active {
            color: red; }
